.AboutWrapper {
    background-color: #29aeac;
    height: auto;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

/* Profile Picture */
.picture {
    float: left;
    height: 240px;
    width: 200px;
    background-image: url("../../images/profile.jpg");
    background-repeat: no-repeat;
    background-size: 180px 240px;
    border-top-left-radius: 10px;
}
