.AboutWrapper {
    background-color: #01a5f0;
    height: auto;
    min-height:300px;
    max-width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.one {
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
.two {
    background-color: white;
    font-family: 'Roboto Mono', monospace;
   
}
.three {
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.four {
    background-color: white;
    font-family: 'Oxygen', sans-serif;
}
.five {
    background-color: white;
    font-family: 'Abril Fatface', cursive;

}
.six {background-color: white;
    font-family: 'Poiret One', cursive;

}
.seven {
    background-color: white;
    font-family: 'Nosifer', cursive;
}
.eight {
    background-color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}