.BioWrapper {
    background-color: #01a5f0;
    height: auto;
    min-height:400px;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
}
.BioHeader {
    padding: 1px;
    background-color:#3d3d3f;
}
.paragraph {
    padding:1%;
    background-color:#01a5f0;;
}

/* Profile Picture */
.picture {
    float: left;
    height: 300px;
    width: 300px;
    background-image: url("../../images/profile.jpg");
    background-repeat: no-repeat;
    background-size: 200px 300px;
    border-radius: 10px;
    border: 5px solid #01a5f0;
    border-radius: 5px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .BioWrapper {
        height: auto;
    }
    /* Profile Picture */
    .picture {
        height: 300px;
        width: 400px;
        margin-left: 37%;
    }
  }
  @media only screen and (max-width: 568px) {
    .BioWrapper {
        height: auto;
    }
    /* Profile Picture */
    .picture {
        padding-left: 14%;
        float: right;
        height: 300px;
        width: 290px;
    }
    .paragraph {
        padding:1%;
    }
  }