a {
    color: black;
    font-size: 24px;
}
.NavWrapper {
    background-color: transparent;
    height: 150px;
}
li {
    background-color: #618685;
}
.nav-pills {
    float: right;
    padding: 2%;
}
