a {
    color: black;
    font-size: 24px;
}
.NavWrapper {
    background-color: transparent;
    
    position: fixed;
    width: 100%;
}
li {
    background-color: #778899;
    border-radius: 10px;
}
.nav-pills {
    float: right;
    padding: 1%;
}
