.ContactWrapper {
    background-color: #01a5f0;
    max-width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    height: auto;
    position: static;
    top: 80px;
    margin-bottom: 60px;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
}
.ContactHeader {
    padding: 1px;
}
input, textarea {
    border-radius: 3px;
}