.home-wrapper {
    padding-top: 70px;
    padding-bottom: 50px;
}
.intro {
    padding-top: 30%;
    background-color: #29aeac;
    max-width: 90%;
    height: 500px;
    margin-left: 5%;
    border-radius: 10px;
    background-image: url("../../images/binary.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
p {
    text-align: left;
    color: white;
}
h1, h2 {
    text-align: center;
    color: white;
}
a {
   color:white; 
}