.ContactMeWrapper {
    background-color: #01a5f0;
    float: right;
    padding: 5%;
}
.fa-github {
    float: left;
}
.fa-linkedin-square {
    float: center;
}
.fa-stack-overflow {
    float: right;
}