.card {
  background-color: #3D3D3D;
    border-radius: 5px;
    height: 450px;
    width: 80%;
    position: static;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
    text-align: left;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
  
.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card > .img-container > img {
  width: 100%;
  height: auto;
}
  
.card > .content {
  padding-left: 1rem;
  padding-right: 5rem;
  font-size: 14px;
}
  
.card > .content > ul {
  list-style-type: none;
  position: static;
}
  
.card > .content > ul > li {
  margin-top: 1%;
}
.li {
  background-color: #3D3D3D;
  border-radius: 5px;
  float: left;
  width: 100%;
}
.btn {
  margin-top: 18px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
  background-color: #3D3D3D;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .card {
    height: auto;
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding-bottom: 1%;
  }
  .card > .content {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
  }
  .li {
    background-color:#3D3D3D;
    border-radius: 5px;
    width: 90%;
  }
  .btn {
    margin-top: 1%;
    width: 90%;
    margin-left: 0%;
    border-radius: 5px;
    background-color: #3D3D3D;
  }
}