.card {
    background: #fff;
    border-radius: 5px;
    height: 550px;
    margin: 4rem;
    position: static;
    width: 425px;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
    text-align: left;

}
  
.card > .img-container {
  height: 45%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card > .img-container > img {
  width: 100%;
}
  
.card > .content {
  padding-left: 1rem;
  padding-right: 5rem;
  font-size: 14px;
}
  
.card > .content > ul {
  list-style-type: none;
  position: static;
}
  
.card > .content > ul > li {
  margin-top: 18px;
}
.li {
  background-color: #6CADDC;
  border-radius: 5px;
  float: left;
  width: 100%;
}
.btn {
  margin-top: 18px;
  width: 100%;
  border-radius: 5px;
  background-color: #01a5f0;
  
}