#port {
    padding-top: 5%;
}
.PortfolioWrapper {
    background-color: #01a5f0;
    max-width: 99%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    height: auto;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
}
.PortfolioHeader {
    padding: 1px;
}
.PortfolioBoard {
    background-color: #01a5f0;
    width: auto;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
    padding:1%;
}