/* #port {
    padding-top: 3%;
} */
.PortfolioWrapper {
    background-color: #01a5f0;
    height: auto;
    box-shadow: 0 3px 6px #000000, 0 3px 6px #000000;
}
.PortfolioHeader {
    background-color: #3d3d3f;
    padding: 1px;
}
.PortfolioBoard {
    width:100%;
    padding:1%;
}